body {font-family: monospace;}
.border {background-color: #333}
.worm {background-color: #44F}
.wormFood {background-color: #0A0}
.wormhole {background-color: #333}
.collision {background-color: #F40}
#title {font-size: 40px;}
#header {position: relative; width: 610px; margin-bottom: 5px;}
#scoreMsg {font-size: 20px;}
#backLink {position: absolute; right: 10px;}
#score {font-weight: bold;}
table#gameboard {border: none;}
tr {height: 15px;}
td {width: 15px; padding: 0;}
#endMsg {display: none; font-size: 20px;}
#buttons {margin-top: 10px;}
#instructions {margin-top: 10px;}